.movie-card {
  width: 282px;
  height: 440px;
  background: #111;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.75s;
}

.movie-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;
  object-position: top;
}

.movie-card h3 {
  margin: 16px 0 0;
  font-family: var(--font-family);
  font-size: 16px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.movie-card h3 span {
  font-size: 10px;
  color: #808080;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.movie-card p {
  flex: 1;
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--font-family);
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
}

.movie-card__actions {
  display: flex;
  gap: 8px;
  align-self: flex-end;
  margin-top: auto;
}

.movie-card:hover {
  box-shadow: 0 0 16px rgba(229, 9, 20, 0.7);
  outline: 1px solid #E50914;
}